/* src/components/Home.css */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4; /* Light gray background color */
  /* I want to grab the background image from the public folder */
  background-image: url('https://images.unsplash.com/photo-1560439514-4e9645039924?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 3rem; /* Larger font size */
  color: #333; /* Dark text color */
  text-align: center;
  margin-bottom: 20px;
}

.box {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  backdrop-filter: blur(10px); /* Apply a blur effect */
  text-align: center;
}

.buttons-container {
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #a7a7a7; /* Blue button color */
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem; /* Larger font size for buttons */
  border: none;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition on hover */
}

.button:hover {
  background-color: #636363; /* Darker blue on hover */
}
